.survey-header,
.welcome-header {
  text-align: center;
  margin-top: 23%;
  margin-bottom: 35%;
}
.survey-header,
.welcome-header__title {
  font-size: 30px;
  font-weight: 800;
}

.survey-header {
  margin-bottom: 50%;
  line-height: 40px;
}

.welcome-header__text {
  margin-top: 5%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  line-height: 20px;
}
#survey,
#account {
  font-size: 20px;
  width: 70%;
  margin: 5% 15%;
}
#survey input,
.account__next,
#account label,
#account input {
  border: none;
  padding: 10px 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: start;
}
#survey label,
#survey input {
  text-align: center;
  justify-content: center;
  margin: 5px 0px;
}

#survey div,
#account div {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

/*account 만 not 하는 방법을 아직 모룸 시도하다 실패함 그리고 폼 작성하는 칸이 너무 작음*/

.survey__submit,
.account__next,
#account input[type="submit"] {
  background-color: var(--back-purple);
  height: 40px;
  width: 100%;
  margin-top: 40px;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  padding: 0px 25px;
  color: rgba(0, 0, 0, 0.9);
}

#account label,
#survey label {
  color: rgba(0, 0, 0, 0.6);
}

.survey__submit {
  text-align: center;
  margin-top: 5%;
  padding: 20px 25px;
}
.account-ask {
  font-size: 16px;
  text-align: center;
}
